@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

/* Eléments de base*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: black;
	max-width: 192rem;
}

:root{
	--orange:#D58C18;
	--light-orange:#F4A641;
	--blue:#0B5D64;
	--light-blue: #387B81;
	--red: #C12426;
	--light-red: #CC4C4E;
	--brown: #070505; 
	--light-brown: #353333;
}

a{
    text-decoration: none;
    color: inherit;
}

#logo{
	width: 15rem;
}

/*--Header--*/

header{
	display: flex;
	width: 100%;
	position: fixed;
    align-items: center;
	padding: 2rem 10rem;
	z-index: 2;
}

.anim-nav {
    background-color: rgba(7,5,5,1);
    color: white;
}

.flexbar{
	display: flex;
	width: 192rem;
}

.flexbar a.active {
	color: var(--light-orange);
  }
  
.flexbar .icon {
	display: none;
}

nav {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
	font-size: 1.5rem;
	margin: 0 1rem;
}

nav div a {
    margin-left: 2.5rem;
    text-align: right;
	font-weight: 700;
	font-size: 1.5rem;
	color: white;
}

nav div a:hover{
    text-align: right;
}

nav div a:hover, .active{
    color: var(--light-orange);
}

/*-Section accueil*/

.accueil{
	display: flex;
	height: 108rem;
	width: 100%;
	background-image: url('../img/hero-banner.jpg');
	background-size: cover;
    background-position: center;
	flex-direction: column;
	justify-content: center;
}

.hero-banner-entrees{
	background-image: url('../img/hero-banner-entrees.png');
}

.hero-banner-plats{
	background-image: url('../img/hero-banner-plats.png');
}

.hero-banner-desserts{
	background-image: url('../img/hero-banner-desserts.png');
}

.hero-banner-boissons{
	background-image: url('../img/hero-banner-boissons.png');
}

.accueil_section_text{
	padding : 2%;
	margin: 30% 30% 30% 10%;
}

.accueil h1{
	font-size: 6.4rem;
	font-weight: 700;
	font-family: 'Pacifico';
	color: white;
}

.accueil p{
	margin-top: 2rem;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 3.6rem;
	color: white;
	text-align: justify;
}

.accueil a{
	margin-top: 3rem;
	display: block;
	width: 16rem;
	height: 6rem;
	text-align: center;
	background-color: rgba(244,166,65, 0.5);
	padding: 1.5rem 2.5rem;
	color: var(--light-orange);
	font-size: 2rem;
	font-weight: 700;
	border-radius: 3px;
	border: 3px solid var(--light-orange);
	text-transform: uppercase;
}

.accueil a:hover, .apropos a:hover{
	background-color: rgba(244,166,65, 0.7);
	border: 3px solid var(--light-orange);
}

/*--Section a propos*/

.apropos{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
    justify-content: space-between;
	align-items: center;
	padding: 5rem 10%;
}

.apropos_section_title {
	width: 100%;
	
}

.apropos_section_title h2 {
	text-align: center;
	font-size: 3rem;
	font-family: 'pacifico';
	width: 100%;
}

.apropos_section_text{
	width: 50%;
	padding-right: 5rem;
	padding-top: 5rem;
}

.apropos_section_text p{
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--gris-fonce);
	text-align: justify;
}

.apropos h3{
	color: var(--orange);
	font-size: 2.5rem;
	margin-bottom: 2.5rem;
}

.apropos_section_photo{
	width: 50%;
	padding-left: 5rem;
	height: 100%;
	padding-top: 5rem;
}

.apropos_section_photo img{
	object-fit: cover;
	width:100%;
}

/*--Section menu*/

.menu{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #F1EEE9;
	padding: 5rem 0rem;
	padding-left: 10%;
	padding-right: 10%;
}

.menu_section_text{
	width: 100%;
}

.menu_choice{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5rem 0rem;
}

.menu_section_text h2{
	text-align: center;
	font-size: 3rem;
	font-family: 'pacifico';
	width: 100%;
}

.menu_contenair{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
	margin-bottom: 10rem;
}

.menu_article{
	width:33.33%;
	height: auto;
	padding: 2.5rem 5rem;
}

.menu_article img{
	object-fit: cover;
	width:100%;
	border-radius: 50%;
	transition: transform .1s;
}

.menu_article img:hover{
	-ms-transform: scale(1.1); 
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.menu_titles h3{
	padding: 2rem 0;
	font-family: 'Pacifico';
	font-size: 2.5rem;
	font-weight: 700;
}

.menu_titles p{
	color: #ffffff;
	font-size: 1.8rem;
	font-weight: 400;
}

.custom_button{
    display: block;
    width: 16rem;
	height: 6rem;
    text-align: center;
    padding: 1.5rem 2.5rem;
	margin: 0 2.5rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 3px;
    text-transform: uppercase;
}

/* Section menu détaillé*/
.card {
	background-color: white;
	width: 100%;
	border-radius: 5rem;
	display: flex;
	flex-direction: row;
	margin: 2.5rem 0;
}

.image-card{
	border-radius: 50%;
	width: 25%;
	margin: 5rem;
	transition: transform .1s;
}

.image-card:hover{
	-ms-transform: scale(1.1); 
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.card_text {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
}

.card_text h4{
	font-family: 'Pacifico';
	font-size: 3rem;
	width: 100%;
	text-align: start;
	margin-bottom: 2rem;
}

.card_text p {
	width: 80%;
	text-align: start;
	font-family: 'Montserrat';
	font-size: 2rem;
}

.card_text_price {
	font-weight: bold;
	display: flex;
	text-align: end;
	width: 20%;
	margin-bottom: 2rem;
	font-family: 'Pacifico';
	font-size: 2.5rem;
	color: var(--brown);
}

/*--Section citation*/

.citation{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
    justify-content: space-between;
	background-color: black;
	padding: 5rem 10%;
	align-items: center;
}

.citation_section_title {
	width: 100%;
	
}

.citation_section_title h2 {
	text-align: center;
	font-size: 3rem;
	font-family: 'pacifico';
	width: 100%;
	color: #ffffff;
	
}

.citation_section_text p{
	font-size: 1.6rem;
	font-weight: 400;
	color: white;
	text-align: center;
	padding:3rem;
}

.citation_section_photo{
	width: 40%;
	height: 100%;
	margin-top: 5rem;
}

.citation_section_photo img{
	object-fit: cover;
	width:100%;
}

.citation_section_text{
	width: 50%;
}

/*Section services*/

.services{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 5rem 10%;
	background-color: #F1EEE9;
}

.services_section_text{
	margin-bottom: 5rem;
	width: 100%;
}

.services_section_text h2{
	text-align: center;
	font-size: 3rem;
	font-family: 'pacifico';
	width: 100%;
}

.services_section_text p{
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--gris-fonce);
}

.icon{
	display: flex;
	width: 100%;
}

.icon article{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 2%;
}

.icon article div{
	height: 13rem;
	width: 13rem;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10rem;
}

.icon_title{
	margin-top: 2.4rem;
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.icon article p{
	color: var(--gris-fonce);
	font-size: 1.6rem;
	margin-bottom: 2rem;
	text-align: justify;
}

.icon article  div i{
	font-size: 8rem;
	color: white;
	padding: 10rem
}

.icon article  div i:hover{
	color: var(--light-orange);
}

.icon article  .customicon:hover{
	color: var(--brown);
}

.orange_icon_bg {
	background-color: var(--orange);
}

.orange_icon_bg:hover{
	background-color: var(--light-orange);
}

.red_icon_bg{
	background-color: var(--red);
}

.red_icon_bg:hover{
	background-color: var(--light-red);
}

.blue_icon_bg{
	background-color: var(--blue);
}

.blue_icon_bg:hover{
	background-color: var(--light-blue);
}

/*Section avis*/

.avis{
	display: flex;
	width: 100%;
    justify-content: center;
	padding: 5rem 10%;
	align-items: center;
	flex-direction: column;
}

.avis_section_title {
	width: 100%;
}

.avis_section_title h2 {
	text-align: center;
	font-size: 3rem;
	font-family: 'pacifico';
	width: 100%;
	
}

.avis_section_photo{
	width: 100%;
	height: 100%;
	margin-top: 5rem;
}

.avis_section_photo img{
	object-fit: cover;
	width:100%;
}

/*Section contact */

.contact{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	padding: 5rem 10%;
	background-image: url(../img/contact-banner.jpg);
	flex-wrap: wrap;
}

.contact h2{
	text-align: center;
	font-size: 3rem;
	font-family: 'pacifico';
	width: 100%;
	color: #ffffff;
}

.contact p{
	margin-top: 2rem;
	color: var(--gris-fonce);
	font-size: 1.8rem;
}

.contact form{
	width: 50%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 2rem;
    align-items: end;
    justify-content: space-between;
	flex-wrap: wrap;
}

.contact form input{
	align-items: end;
	margin: 2rem 0;
	background-color: white;
	border: none;
	line-height: 5.4rem;
	font-size: 2rem;
	height: 6rem;
	font-weight: 400;
	font: 2rem;
	font-family: 'Montserrat';
	padding: 1.5rem 2.5rem;
}

#nom{
	width:45%;
}

#prenom{
	width:45%;
}

#email{
	width:45%;
}

#telephone{
	width:45%;
}

#text{
	width:100%;
	height: 20rem;
}

.button-envoyer{
    display: block;
    width: 16rem;
	height: 6rem;
    text-align: center;
    background-color: var(--orange);
    padding: 1.5rem 2.5rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 3px;
    border: 3px solid var(--orange);
    text-transform: uppercase;
	margin-top: 3rem;
}

iframe {
    width: 43%;
    margin: 0 0 0 5rem;
}

/* Boutons */

.button{
    display: block;
    width: 16rem;
	height: 6rem;
    text-align: center;
    background-color: var(--orange);
    padding: 1.5rem 2.5rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 3px;
    border: 3px solid var(--orange);
    text-transform: uppercase;
	margin-top: 3rem;
}

a.button:hover{
    background-color: var(--light-orange);
	border: 3px solid var(--orange);
	color: white;
}

.brown{
	border: 3px solid var(--brown);
	background-color: var(--brown);
}

.brown:hover{
	background-color: var(--light-brown);
	border: 3px solid var(--brown);
	color: var(--light-orange);
}

.orange{
	border: 3px solid var(--orange);
	background-color: var(--orange);
}

.orange:hover{
	background-color: var(--light-orange);
	border: 3px solid var(--orange);
	color: var(--brown);
}

.red{
	border: 3px solid var(--red);
	background-color: var(--red);
}

.red:hover{
	background-color: var(--light-red);
	border: 3px solid var(--red);
	color: var(--light-orange);
}

.blue{
	border: 3px solid var(--blue);
	background-color: var(--blue);
}

.blue:hover{
	background-color: var(--light-blue);
	border: 3px solid var(--blue);
	color: var(--light-orange);
}

/*--Footer*/

.footer{
	position: relative;
	Width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5rem 10%;
	display: flex;
	justify-content: space-between;
}

.footer_text{
	font-family: 'montserrat';
	font-weight: 700;
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 3rem;
}

.footer_element ul, .footer_element li {
	font-family: 'montserrat';
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.5rem;
	color: black;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer_element h4{
	padding-bottom: 2rem;
	font-family: 'pacifico';
	font-size: 2.5rem;
	font-weight: 700;
}

.logos{
	display: flex;
	flex-direction: row;
}

/* --- Responsive --- */



/* --- Tablettes--- */

@media screen and (max-width: 1280px){
	.flexbar a {display: none;}
	.flexbar a.icon {
		display: flex;
        color: white;
        justify-content: flex-end;
	}

	.flexbar a.icon.active {
	  display: flex;
	  color: var(--light-orange);
	  justify-content: flex-end;
	}

	.flexbar.responsive {
	  position: relative;
	  justify-content: flex-start;
	  flex-direction: column;
	  align-items: flex-start;
	}

	.flexbar.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}

	.flexbar.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	  margin: 0 0 1.5rem 0;
	}

	#logo {
		width: 8rem;
	}

	header {
		padding: 5rem 10%;
		text-align: end;
	}
}

@media screen and (max-width: 1080px){
	.accueil_section_text {
		padding: 0;
		margin: 30% 10%;
	}

	.apropos {
		flex-direction: column;
	}
	
	.apropos article {
		width: 100%;
	}

	.apropos_section_title h2 {
		margin-bottom: 2rem;
	}

	.apropos_section_text {
		padding: 0;
		margin-bottom: 2rem;
		width: 100%;
	}

	.apropos_section_photo {
		padding: 0;
		margin-bottom: 2rem;
		width: 100%;
	}

	.menu_section_text {
		margin-bottom: 0;
	}

	.menu_article {
		width: 50%;
		padding: 1rem 5rem;
	}
	
	.menu_section_text {
		padding: 0 5rem;
		margin-bottom: 2rem;
	}

	.menu_section_text h2 {
		font-size: 3rem;
	}

	.menu_choice{
	width:100%;
	}

	.custom_button {
		padding: 1.5rem 1rem;
	}

	#nom{
		width:100%;
	}
	
	#prenom{
		width:100%;
	}
	
	#email{
		width:100%;
	}
	
	#telephone{
		width:100%;
	}
	
	#text{
		width:100%;
	}
	
}

@media screen and (max-width: 920px){
	.accueil a {
		width: 100%;
	}

	.menu_choice {
		flex-direction: column;
		margin: 0;
	}

	.custom_button {
		width: 100%;
		margin: 2rem 0;
	}

	.button {
		width: 100%;
		margin: 1rem 0;
	}

	.contact {
		padding: 5rem 10%;
		flex-direction: column;
	}

	.contact h2 {
		font-size: 3rem;
	}

	.contact form {
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
	}

	.contact form input {
		width: 20rem;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	iframe {
		width: 100%;
		margin: 1rem 0;
	}

	#nom{
		width:100%;
		margin: 1rem 0;
	}
	
	#prenom{
		width:100%;
		margin: 1rem 0;
	}
	
	#email{
		width:100%;
		margin: 1rem 0;
	}
	
	#telephone{
		width:100%;
		margin: 1rem 0;
	}
	
	#text{
		width:100%;
		height: 20rem;
		margin: 1rem 0;
	}

	.footer {
		flex-direction: column;
		margin: 0;
		padding: 0;
		align-items: center;
		text-align: center;
	}

	.footer_element{
		margin : 2rem 10%;
	}

	.footer_element h4 {
		padding-bottom: 1rem;
	}

	.footer_text {
		padding-bottom: 1rem;
	}
}

/* --- Smartphones --- */
@media screen and (max-width: 780px){
	.flexbar a.icon {
        text-align: end;
	}

	.flexbar a.icon.active {
		text-align: end;
	}

	nav div a {
		margin-left: 1rem;
		font-size: 1rem;
	}

	.accueil_section_text {
		padding: 0;
		text-align: center;
	}

	.accueil h1 {
		font-size: 4rem;
	}

	.accueil a {
		width: 100%;
		margin: 2rem 0 0 0;
		font-size: 1.5rem;
	}

	.accueil p {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.apropos {
		flex-direction: column;
	}
	
	.apropos article {
		width: 100%;
	}

	.apropos_section_text {
		padding: 0;
		margin-bottom: 2rem;
	}

	.menu_contenair {
		margin: 2rem 0;
	}

	.menu_section_text {
		margin-bottom: 0;
	}

	.menu_article {
		width: 100%;
		padding: 0;
	}
	
	.menu_section_text {
		padding: 0 5rem;
		margin-bottom: 2rem;
	}

	.menu_section_text h2 {
		font-size: 3rem;
	}

	.citation {
		flex-direction: column;
	}

	.citation_section_photo {
		width: 100%;
	}

	.citation_section_text {
		width: 100%;
	}

	.citation_section_text p {
		font-size: 1.5rem;
		padding: 2rem 0;
	}

	.services {
		height: auto;
		padding: 5rem 0;
	}

	.services_section_text h2 {
		font-size: 3rem;
	}

	.icon {
		display: flex;
		flex-direction: column;
	}

	.icon article {
        margin: 2.5rem 0;
        padding: 0 10%;
    }

	.icon_title {
		font-size: 2.5rem;
	}

	.icon article div {
		height: 30rem;
		width: 30rem;
	}

	.card {
		flex-direction: column;
		align-items: center;
	}

	.image-card {
		width: 100%;
		padding: 2rem;
		margin: 0;
	}

	.card_text h4 {
		text-align: center;
	}

	.card_text {
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

	.card_text p {
		width: 100%;
		text-align: center;
		margin-bottom: 2rem;
	}

	.card_text_price {
		display: block;
		text-align: center;
		width: 100%;
		margin-bottom: 2rem;
	}

}
  
